#loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
  #icat-splash
    .icat-loading
      img(src=url_for(theme.preloader.logo) data-src=url_for(theme.preloader.logo_dark))

script.
  var htmlElement = document.querySelector('html');
  if (htmlElement.getAttribute('data-theme') === 'dark') {
    var imgElement = document.querySelector('.icat-loading img');
    var dataSrc = imgElement.getAttribute('data-src');
    imgElement.src = dataSrc;
  }
  

  (()=>{
    const $loadingBox = document.getElementById('loading-box')
    const $body = document.body
    const preloader = {
      endLoading: () => {
        $body.style.overflow = 'auto';
        $loadingBox.classList.add('loaded')
      },
      initLoading: () => {
        $body.style.overflow = 'hidden';
        $loadingBox.classList.remove('loaded')
      }
    }

    preloader.initLoading()
    window.addEventListener('load',() => { preloader.endLoading() })

    if (!{theme.pjax && theme.pjax.enable}) {
      document.addEventListener('pjax:send', () => { preloader.initLoading() })
      document.addEventListener('pjax:complete', () => { preloader.endLoading() })
    }
  })()