@font-face {
  font-family: "iconfont"; /* Project id 4434450 */
  src: url('iconfont.woff2?t=1714815234416') format('woff2'),
       url('iconfont.woff?t=1714815234416') format('woff'),
       url('iconfont.ttf?t=1714815234416') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuoshuo:before {
  content: "\e610";
}

.icon-yinle:before {
  content: "\e745";
}

.icon-liuyanban:before {
  content: "\e61b";
}

.icon-baocang:before {
  content: "\e707";
}

.icon-ziyuan:before {
  content: "\eeea";
}

.icon-shouye:before {
  content: "\e6cb";
}

.icon-dingyue:before {
  content: "\e629";
}

.icon-youxiji:before {
  content: "\e613";
}

.icon-fenlei:before {
  content: "\e603";
}

.icon-biaoqianpai:before {
  content: "\e60b";
}

.icon-youlian:before {
  content: "\e60e";
}

.icon-guanyu:before {
  content: "\e604";
}

.icon-guidang:before {
  content: "\e700";
}

