#page:has(#icat-about-page)
  border: 0
  box-shadow: none !important
  padding: 0 !important
  background: transparent !important


.icat-author-box
  position: relative
  margin: 34px 0 62px

  @media screen and (max-width: 768px)
    margin: 34px 0 44px

  .icat-author-img
    margin: auto
    border-radius: 50%
    overflow: hidden
    width: 180px
    height: 180px

    img
      border-radius: 50%
      overflow: hidden
      width: 180px
      height: 180px
      border: 6px solid var(--icat-white)

.image-dot
  width: 40px
  height: 40px
  background: #6bdf8f
  position: absolute
  border-radius: 50%
  border: 6px solid var(--icat-white)
  top: 50%
  left: 50%
  transform: translate(35px, 45px)

.icat-author-content
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  width: 100%
  margin-top: 1rem

  @media screen and (max-width: 768px)
    margin-top: 0

  .icat-author-content-item
    width: 49%
    border-radius: 24px
    background: var(--icat-card-bg)
    border: var(--style-border-always)
    box-shadow: var(--icat-shadow-border)
    position: relative
    padding: 1rem 2rem
    overflow: hidden

    &:hover
      .card-background-icon
        transform: rotate(20deg)

    @media screen and (max-width: 768px)
      width: 100% !important
      margin-top: 1rem
      padding: 1rem

    .card-content
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 2
      display: flex
      flex-direction: column
      padding: 1rem 2rem

    .icat-author-content-item-tips
      opacity: .8
      font-size: .6rem
      margin-bottom: 0.5rem

    .icat-author-content-item-title
      font-size: 36px
      font-weight: 700
      line-height: 1

    .skills-style-group
      position: relative

      .skills-list
        display: flex
        opacity: 0
        transition: 0.3s
        position: absolute
        width: 100%
        top: 0
        left: 0
        flex-wrap: wrap
        flex-direction: row
        margin-top: 10px

        .skill-info
          display: flex
          align-items: center
          margin-right: 10px
          margin-top: 10px
          background: var(--icat-background)
          border-radius: 40px
          padding: 4px 12px 4px 5px
          border: var(--style-border)
          box-shadow: var(--icat-shadow-border)

          .skill-icon
            width: 32px
            height: 32px
            border-radius: 32px
            display: flex
            align-items: center
            justify-content: center
            margin-right: 10px

            img
              width: 18px
              height: 18px
              margin: 0 auto !important

        .etc
          margin-right: 10px
          margin-top: 15px
          font-weight: 900

      .tags-group-all
        display: flex
        transform: rotate(0)
        transition: 0.3s

        .tags-group-wrapper
          margin-top: 40px
          display: flex
          flex-wrap: nowrap
          animation: rowup 60s linear infinite

          @keyframes rowup
            0%
              transform: translateX(0)
            100%
              transform: translateX(-50%)

          .tags-group-icon-pair
            margin-left: 1rem

            .tags-group-icon
              display: flex
              align-items: center
              justify-content: center
              color: #fff
              font-size: 66px
              font-weight: 700
              box-shadow: var(--icat-shadow-blackdeep)
              width: 120px
              height: 120px
              border-radius: 30px

              img
                width: 60%
                margin: 0 auto !important

              &:nth-child(even)
                margin-top: 1rem
                transform: translate(-60px)

  .myInfoAndSayHello
    display: flex
    flex-direction: column
    justify-content: center
    color: var(--icat-white)
    background: linear-gradient(120deg, #5b27ff 0, #00d4ff 100%)
    background-size: 200%
    animation: gradient 15s ease infinite
    width: 59.5%

    .title-one
      opacity: 0.8
      line-height: 1.3

    .title-two
      font-size: 36px
      font-weight: 700
      line-height: 1.1
      margin: 0.5rem 0

  .aboutsiteTips
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column
    width: 39.5%

    h2
      margin-right: auto
      font-size: 36px
      font-family: Helvetica
      line-height: 1.06
      letter-spacing: -0.02em
      color: var(--font-color)
      margin-top: 0

      .inline-word
        word-break: keep-all
        white-space: nowrap
      
      .mask
        height: 36px
        position: relative
        overflow: hidden
        margin-top: 4px

        span
          display: block
          box-sizing: border-box
          position: absolute
          top: 36px
          padding-bottom: var(--offset)
          background-size: 100% 100%
          -webkit-background-clip: text
          background-clip: text
          -webkit-text-fill-color: transparent
          background-repeat: no-repeat
          
          &[data-show]
            transform: translateY(-100%)
            transition: 0.5s transform ease-in-out

          &[data-up]
            transform: translateY(-200%)
            transition: 0.5s transform ease-in-out

          &:nth-child(1)
            background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1)

          &:nth-child(2)
            background-image: linear-gradient(45deg, #18e198 50%, #0ec15d)

          &:nth-child(3)
            background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c)

          &:nth-child(4)
            background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f)

  .skills
    display: flex
    justify-content: center
    align-items: flex-start
    flex-direction: column
    width: 50%
    min-height: 450px

    &:hover
      .skills-style-group .tags-group-all
        opacity: 0
      .skills-style-group .skills-list
        opacity: 1

  .about-statistic
    min-height: 380px
    width: 39%
    background: url(https://img.qianxun7747.eu.org/file/736552183fa116302ad88.png) no-repeat top //统计栏背景图
    background-size: cover
    color: var(--icat-white)
    overflow: hidden

    &:after
      box-shadow: 0 -159px 173px 71px #0c1c2c inset
      position: absolute
      content: ""
      width: 100%
      height: 100%
      top: 0
      left: 0

    #statistic
      font-size: 16px
      border-radius: 15px
      width: 100%
      color: var(--icat-white)
      display: flex
      justify-content: space-between
      flex-direction: row
      flex-wrap: wrap
      margin-top: 1rem
      margin-bottom: 2rem

      div
        display: flex
        justify-content: space-between
        flex-direction: column
        width: 50%
        margin-bottom: 0.5rem

        span

          &:first-child
            opacity: 0.8
            font-size: 0.6rem

          &:last-child
            font-weight: 700
            font-size: 34px
            line-height: 1
            white-space: nowrap

  .mapAndInfo
    width: 59%

  .column
    display: flex
    flex-direction: column
    justify-content: space-between

    @media screen and (max-width: 768px)
      width: 100% !important

    .map
      background: url(https://img.qianxun7747.eu.org/file/ea92d4bf0078aa58c198e.jpg) no-repeat center
      min-height: 160px
      max-height: 400px
      position: relative
      overflow: hidden
      margin-bottom: 0.5rem
      height: 60%
      background-size: 100%
      transition: 1s ease-in-out

      @media screen and (max-width: 768px)
        margin-bottom: 0

      &:hover
        background-size: 120%
        transition: 4s ease-in-out
        background-position-x: 0
        background-position-y: 22%
        .map-title
          bottom: -100%

      .map-title
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        background: var(--icat-maskbg)
        padding: 0.5rem 2rem
        backdrop-filter: saturate(180%) blur(20px)
        -webkit-backdrop-filter: blur(20px)
        transition: 1s ease-in-out
        font-size: 20px
        border-radius: 0 0 24px 24px

        b
          color: var(--font-color)

    .selfInfo
      display: flex
      min-height: 100px
      max-height: 400px
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      height: -webkit-fill-available
      height: 40%

      @media screen and (max-width: 768px)
        height: 95%

      div
        display: flex
        flex-direction: column
        margin: 0.5rem 2rem 0.5rem 0

        .selfInfo-title
          opacity: 0.8
          font-size: 0.6rem
          line-height: 1
          margin-bottom: 8px

        .selfInfo-content
          font-weight: 700
          font-size: 34px
          line-height: 1

  .personalities
    position: relative
    width: 59%

    @media screen and (max-width: 768px)
      height: 170px

    .title-two
      font-size: 36px
      font-weight: 700
      line-height: 1.1

    .image
      position: absolute
      right: 30px
      top: 10px
      width: 220px
      transition: transform 2s cubic-bezier(0.13, 0.45, 0.21, 1.02)

      @media screen and (max-width: 768px)
        width: 90px

      img
        display: block
        margin: 0 auto 20px
        max-width: 100%
        transition: filter 375ms ease-in 0.2s

    &:hover
      .image
        transform: rotate(-10deg)

  .myphoto
    height: 60%
    min-height: 240px
    position: relative
    overflow: hidden
    width: 39%
    display: flex
    align-items: center
    justify-content: center

    img
      position: absolute
      min-width: 100%
      object-fit: cover
      transition: 0.6s
      animation: coverIn 2s ease-out forwards
      transition: transform 2s ease-out !important

    &:hover
      img
        transform: scale(1.1)

  .maxim
    font-size: 36px
    font-weight: 700
    line-height: 1.1
    display: flex
    align-items: flex-start
    flex-direction: column
    justify-content: center
    width: 39%

    .maxim-title
      display: flex
      flex-direction: column

  .buff
    height: 200px
    font-size: 36px
    font-weight: 700
    line-height: 1.1
    display: flex
    align-items: flex-start
    flex-direction: column
    justify-content: center
    background: linear-gradient(120deg, #ff27e8 0, #ff8000 100%)
    color: var(--icat-white)
    background-size: 200%
    animation: gradient 15s ease infinite
    min-height: 200px
    height: fit-content
    width: 59%

    .card-content
      display: flex
      flex-direction: column
      justify-content: center

      .buff-title
        display: flex
        flex-direction: column

    .card-background-icon
      font-size: 12rem
      opacity: 0.2
      position: absolute
      right: 0
      bottom: -40%
      transform: rotate(30deg)
      transition: 2s ease-in-out

  .game-yuanshen
    background: url(https://img.qianxun7747.eu.org/file/66da482df5670f7dcd702.jpg) no-repeat top
    background-size: cover
    min-height: 300px
    overflow: hidden
    color: var(--icat-white)
    width: 59%

    &:after
      box-shadow: 0 -69px 203px 11px #575d8b inset
      position: absolute
      content: ""
      width: 100%
      height: 100%
      top: 0
      left: 0

  .comic-content
    width: 39%
    background: url(https://img.qianxun7747.eu.org/file/f6488c60a3f7806b336e8.jpg) no-repeat top
    background-size: cover
    min-height: 300px
    overflow: hidden
    color: var(--icat-white)

    &:after
      box-shadow: 0 -48px 203px 11px #505050 inset
      position: absolute
      content: ""
      width: 100%
      height: 100%
      top: 0
      left: 0

  .like-technology
    background: url(https://yife68.gitee.io/icat-pic/blog/9.webp) no-repeat
    background-size: cover
    min-height: 230px
    color: var(--icat-white)

  .like-music
    background: url(https://img.qianxun7747.eu.org/file/b5aa5677996de11d8a875.jpg) no-repeat top
    background-size: cover
    min-height: 400px
    color: var(--icat-white)
    overflow: hidden

    &:after
      box-shadow: 0 -69px 203px 11px #212121 inset
      position: absolute
      content: ""
      width: 100%
      height: 100%
      top: 0
      left: 0

  .reward-list-all
    display: flex
    flex-wrap: wrap
    flex-direction: row
    margin-top: 1rem
    margin-bottom: 0.5rem
    margin-left: -0.25rem
    margin-right: -0.25rem

    .reward-list-item
      padding: 1rem
      border-radius: 12px
      border: var(--style-border-always)
      width: calc((100% / 3) - 0.5rem)
      margin: 0 0.25rem 0.5rem 0.25rem
      box-shadow: var(--icat-shadow-border)

      @media screen and (max-width: 768px)
        width: 100% !important

      .reward-list-item-name
        font-size: 1rem
        font-weight: 700
        line-height: 1
        margin-bottom: 0.5rem

      .reward-list-bottom-group
        display: flex
        align-items: center
        justify-content: space-between

      .reward-list-item-money
        padding: 4px
        background: var(--font-color)
        color: var(--card-bg)
        font-size: 12px
        line-height: 1
        border-radius: 4px
        margin-right: 4px
        white-space: nowrap

      .reward-list-item-time
        font-size: 12px
        color: var(--icat-secondtext)
        white-space: nowrap


  .post-reward
    position: absolute
    margin-top: 0px
    width: auto
    text-align: none
    pointer-events: none
    right: 2rem
    top: 2rem

    >*
      pointer-events: auto


.hello-about
  margin: 20px auto
  border-radius: 24px
  background: var(--icat-card-bg)
  border: var(--style-border-always)
  box-shadow: var(--icat-shadow-border)
  position: relative
  overflow: hidden
  user-select: none

  @media screen and (max-width: 768px)
    margin: 1rem auto 0

  .cursor
    position: absolute
    background: #2128bd
    width: 20px
    height: 20px
    margin: -10px 0 0 -10px
    border-radius: 50%
    will-change: transform
    user-select: none
    pointer-events: none
    z-index: 3

    &:selection
      color: #fff
      background: #2128bd

  .shapes
    position: relative
    height: 315px
    width: 100%
    background: #2128bd
    overflow: hidden
    border-radius: 24px
    border: var(--style-border)

    .shape 
      will-change: transform
      position: absolute
      border-radius: 50%
    
    .shape.shape-1
      background: #005ffe
      width: 650px
      height: 650px
      margin: -325px 0 0 -325px

    .shape.shape-2
      background: #ffe5e3
      width: 440px
      height: 440px
      margin: -220px 0 0 -220px

    .shape.shape-3
      background: #ffcc57
      width: 270px
      height: 270px
      margin: -135px 0 0 -135px

  .content
    top: 0
    left: 0
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    height: 315px
    width: 100%
    background: #fff
    mix-blend-mode: screen
    border-radius: 24px

    h1
      font-size: 200px
      color: #000
      margin: 0
      text-align: center
      font: inherit
      vertical-align: baseline
      line-height: 1
      font-size: calc((0.0989119683 * 100vw + (58.5558852621px)))
      width: 100%
      height: 100%
      display: flex
      align-items: center
      justify-content: center

      @media (min-width: 419px)
        font-size: calc((0.0989119683 * 100vw + (58.5558852621px)))


.careers
  min-height: 400px

  .careers-group
    margin-top: 12px

    .careers-item
      display: flex
      align-items: center

      .circle
        width: 16px
        height: 16px
        margin-right: 8px
        border-radius: 16px

      .name
        color: var(--icat-secondtext)

  img
    position: absolute
    left: 0
    bottom: 20px
    width: 100%
    transition: 0.6s


.icat-banner-button-group
  position: absolute
  bottom: 1rem
  right: 2rem

  .banner-button
    height: 40px
    width: 124px
    border-radius: 20px
    box-shadow: var(--icat-shadow-border)
    justify-content: center
    background: var(--icat-card-bg)
    color: var(--font-color)
    display: flex
    align-items: center
    z-index: 1
    transition: 0.3s
    cursor: pointer

    @media screen and (max-width: 768px)
      width: 40px
      border: var(--style-border-always)
      background: var(--icat-white)
      color: var(--icat-black)

    i
      font-size: 1.15rem

      @media screen and (max-width: 768px)
        font-size: .9rem

    &:hover
      background: var(--icat-main)
      color: var(--icat-white)
      border-radius: 20px !important

    .banner-button-text
      padding: 0 6px

      @media screen and (max-width: 768px)
        display: none


.post-tips
  color: var(--icat-gray)
  font-size: 14px
  position: absolute
  bottom: 1rem
  left: 2rem

  @media screen and (max-width: 768px)
    left: auto

  a
    color: var(--icat-gray) !important
    border: none !important


.content-bottom
  margin-top: auto
  display: flex
  align-items: center
  justify-content: space-between

  .icon-group
    display: flex
    position: relative

    i
      display: inline-block
      width: 143px
      height: 18px
      margin-right: 0.5rem


.single
  width: 100% !important

#page

  .page-title
    display: none !important

[data-theme="dark"]
  .hello-about

    .content
      background: transparent

    h1
      color: var(--icat-white)

  .icat-author-content

    .map
      background: url(https://img.qianxun7747.eu.org/file/ea92d4bf0078aa58c198e.jpg) no-repeat center
      background-size: 100%