if theme.preloader.enable
  case theme.preloader.load_style    
    when 'fullpage-loading'
      include ./load_style/fullpage-loading.pug
    when 'icat'
      include ./load_style/icat.pug
  if theme.preloader.pace
    include ./pace.pug